<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configElement>
	<elementType>codec-policy</elementType>
	<attribute>
		<name>name</name>
		<value>{{param["name"]}}</value>
	</attribute>
	<attribute>
		<name>allow-codecs</name>
		<value>{{param["allow_codecs"]}}</value>
	</attribute>
	<attribute>
		<name>add-codecs-on-egress</name>
		<value>{{param["add_codecs_on_egress"]}}</value>
	</attribute>
	<attribute>
		<name>order-codecs</name>
		<value>{{param["order_codecs"]}}</value>
	</attribute>
	<attribute>
		<name>packetization-time</name>
		<value>{{param["packetization_time"]}}</value>
	</attribute>
	<attribute>
		<name>force-ptime</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>secure-dtmf-cancellation</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>dtmf-in-audio</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>tone-detect-renegotiate-timer</name>
		<value>500</value>
	</attribute>
	<attribute>
		<name>reverse-fax-tone-detection-reinvite</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>evrc-tty-baudot-transcode</name>
		<value>disabled</value>
	</attribute>
</configElement>
