<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configElement>
	<elementType>media-manager</elementType>
	<attribute>
		<name>state</name>
		<value>{{param["state"]}}</value>
	</attribute>
	<attribute>
		<name>latching</name>
		<value>enabled</value>
	</attribute>
	<attribute>
		<name>flow-time-limit</name>
		<value>86400</value>
	</attribute>
	<attribute>
		<name>initial-guard-timer</name>
		<value>300</value>
	</attribute>
	<attribute>
		<name>subsq-guard-timer</name>
		<value>300</value>
	</attribute>
	<attribute>
		<name>tcp-flow-time-limit</name>
		<value>86400</value>
	</attribute>
	<attribute>
		<name>tcp-initial-guard-timer</name>
		<value>300</value>
	</attribute>
	<attribute>
		<name>tcp-subsq-guard-timer</name>
		<value>300</value>
	</attribute>
	<attribute>
		<name>tcp-number-of-ports-per-flow</name>
		<value>2</value>
	</attribute>
	<attribute>
		<name>hnt-rtcp</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>algd-log-level</name>
		<value>NOTICE</value>
	</attribute>
	<attribute>
		<name>mbcd-log-level</name>
		<value>NOTICE</value>
	</attribute>
	<attribute>
		<name>options</name>
		<value/>
	</attribute>
	<attribute>
		<name>red-flow-port</name>
		<value>1985</value>
	</attribute>
	<attribute>
		<name>red-mgcp-port</name>
		<value>1986</value>
	</attribute>
	<attribute>
		<name>red-max-trans</name>
		<value>10000</value>
	</attribute>
	<attribute>
		<name>red-sync-start-time</name>
		<value>5000</value>
	</attribute>
	<attribute>
		<name>red-sync-comp-time</name>
		<value>1000</value>
	</attribute>
	<attribute>
		<name>media-policing</name>
		<value>enabled</value>
	</attribute>
	<attribute>
		<name>max-arp-rate</name>
		<value>10</value>
	</attribute>
	<attribute>
		<name>max-signaling-packets</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>max-untrusted-signaling</name>
		<value>100</value>
	</attribute>
	<attribute>
		<name>min-untrusted-signaling</name>
		<value>30</value>
	</attribute>
	<attribute>
		<name>dos-guard-window</name>
		<value>5</value>
	</attribute>
	<attribute>
		<name>untrusted-minor-threshold</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>untrusted-major-threshold</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>untrusted-critical-threshold</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>trusted-minor-threshold</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>trusted-major-threshold</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>trusted-critical-threshold</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>arp-minor-threshold</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>arp-major-threshold</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>arp-critical-threshold</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>tolerance-window</name>
		<value>30</value>
	</attribute>
	<attribute>
		<name>untrusted-drop-threshold</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>trusted-drop-threshold</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>acl-monitor-window</name>
		<value>30</value>
	</attribute>
	<attribute>
		<name>trap-on-demote-to-deny</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>trap-on-demote-to-untrusted</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>syslog-on-demote-to-deny</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>syslog-on-demote-to-untrusted</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>rtcp-rate-limit</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>anonymous-sdp</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>rfc2833-timestamp</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>reactive-transcoding</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>default-2833-duration</name>
		<value>100</value>
	</attribute>
	<attribute>
		<name>rfc2833-end-pkts-only-for-non-sig</name>
		<value>enabled</value>
	</attribute>
	<attribute>
		<name>translate-non-rfc2833-event</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>media-supervision-traps</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>dnsalg-server-failover</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>syslog-on-call-reject</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>xcode-fax-max-rate</name>
		<value>14400</value>
	</attribute>
</configElement>
