<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configElement>
	<elementType>media-profile</elementType>
	<attribute>
		<name>name</name>
		<value>{{param["name"]}}</value>
	</attribute>
	<attribute>
		<name>subname</name>
		<value/>
	</attribute>
	<attribute>
		<name>media-type</name>
		<value>{{param["media_type"]}}</value>
	</attribute>
	<attribute>
		<name>payload-type</name>
		<value>{{param["payload_type"]}}</value>
	</attribute>
	<attribute>
		<name>transport</name>
		<value>{{param["transport"]}}</value>
	</attribute>
	<attribute>
		<name>clock-rate</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>req-bandwidth</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>frames-per-packet</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>parameters</name>
		<value/>
	</attribute>
	<attribute>
		<name>average-rate-limit</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>peak-rate-limit</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>max-burst-size</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>sdp-rate-limit-headroom</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>sdp-bandwidth</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>police-rate</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>standard-pkt-rate</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>as-bandwidth</name>
		<value>0</value>
	</attribute>
</configElement>
