<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configElement>
	<elementType>network-interface</elementType>
	<attribute>
		<name>name</name>
		<value>{{param["name"]}}</value>
	</attribute>
	<attribute>
		<name>sub-port-id</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>family</name>
		<value/>
	</attribute>
	<attribute>
		<name>description</name>
		<value>{{param["description"]}}</value>
	</attribute>
	<attribute>
		<name>hostname</name>
		<value/>
	</attribute>
	<attribute>
		<name>ip-address</name>
		<value>{{param["ip_address"]}}</value>
	</attribute>
	<attribute>
		<name>pri-utility-addr</name>
		<value/>
	</attribute>
	<attribute>
		<name>sec-utility-addr</name>
		<value/>
	</attribute>
	<attribute>
		<name>netmask</name>
		<value>{{param["netmask"]}}</value>
	</attribute>
	<attribute>
		<name>gateway</name>
		<value>{{param["gateway"]}}</value>
	</attribute>
	<attribute>
		<name>sec-gateway</name>
		<value/>
	</attribute>
	<attribute>
		<name>dns-ip-primary</name>
		<value>{{param["dns_ip_primary"]}}</value>
	</attribute>
	<attribute>
		<name>dns-ip-backup1</name>
		<value/>
	</attribute>
	<attribute>
		<name>dns-ip-backup2</name>
		<value/>
	</attribute>
	<attribute>
		<name>dns-domain</name>
		<value>{{param["dns_domain"]}}</value>
	</attribute>
	<attribute>
		<name>dns-timeout</name>
		<value>11</value>
	</attribute>
	<attribute>
		<name>dns-max-ttl</name>
		<value>86400</value>
	</attribute>
	<attribute>
		<name>signaling-mtu</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>hip-ip-list</name>
		<value/>
	</attribute>
	<attribute>
		<name>icmp-address</name>
		<value/>
	</attribute>
	<attribute>
		<name>snmp-address</name>
		<value/>
	</attribute>
	<attribute>
		<name>ssh-address</name>
		<value/>
	</attribute>
</configElement>