<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configElement>
	<elementType>phy-interface</elementType>
	<attribute>
		<name>name</name>
		<value>{{param["name"]}}</value>
	</attribute>
	<attribute>
		<name>operation-type</name>
		<value>{{param["operation_type"]}}</value>
	</attribute>
	<attribute>
		<name>port</name>
		<value>{{param["port"]}}</value>
	</attribute>
	<attribute>.
		<name>slot</name>
		<value>{{param["slot"]}}</value>
	</attribute>
	<attribute>
		<name>virtual-mac</name>
		<value/>
	</attribute>
	<attribute>
		<name>admin-state</name>
		<value>{{param["admin_state"]}}</value>
	</attribute>
	<attribute>
		<name>auto-negotiation</name>
		<value>enabled</value>
	</attribute>
	<attribute>
		<name>duplex-mode</name>
		<value>FULL</value>
	</attribute>
	<attribute>
		<name>speed</name>
		<value>100</value>
	</attribute>
	<attribute>
		<name>wancom-health-score</name>
		<value>50</value>
	</attribute>
	<attribute>
		<name>overload-protection</name>
		<value>disabled</value>
	</attribute>
</configElement>