<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configElement>
	<elementType>realm-config</elementType>
	<attribute>
		<name>identifier</name>
		<value>{{param["identifier"]}}</value>
	</attribute>
	<attribute>
		<name>description</name>
		<value>{{param["description"]}}</value>
	</attribute>
	<attribute>
		<name>addr-prefix</name>
		<value>0.0.0.0</value>
	</attribute>
	<attribute>
		<name>network-interfaces</name>
		<value>{{param["network_interfaces"]}}</value>
	</attribute>
	<attribute>
		<name>media-realm-list</name>
		<value/>
	</attribute>
	<attribute>
		<name>mm-in-realm</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>mm-in-network</name>
		<value>enabled</value>
	</attribute>
	<attribute>
		<name>mm-same-ip</name>
		<value>enabled</value>
	</attribute>
	<attribute>
		<name>mm-in-system</name>
		<value>enabled</value>
	</attribute>
	<attribute>
		<name>bw-cac-non-mm</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>msm-release</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>qos-enable</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>max-bandwidth</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>fallback-bandwidth</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>max-priority-bandwidth</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>max-latency</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>max-jitter</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>max-packet-loss</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>observ-window-size</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>parent-realm</name>
		<value/>
	</attribute>
	<attribute>
		<name>dns-realm</name>
		<value/>
	</attribute>
	<attribute>
		<name>media-policy</name>
		<value/>
	</attribute>
	<attribute>
		<name>nsep-media-policy</name>
		<value/>
	</attribute>
	<attribute>
		<name>rtcp-mux</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>ice-profile</name>
		<value/>
	</attribute>
	<attribute>
		<name>teams-fqdn</name>
		<value/>
	</attribute>
	<attribute>
		<name>teams-fqdn-in-uri</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>sdp-inactive-only</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>dtls-srtp-profile</name>
		<value/>
	</attribute>
	<attribute>
		<name>class-profile</name>
		<value/>
	</attribute>
	<attribute>
		<name>in-manipulationid</name>
		<value/>
	</attribute>
	<attribute>
		<name>out-manipulationid</name>
		<value/>
	</attribute>
	<attribute>
		<name>average-rate-limit</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>access-control-trust-level</name>
		<value>none</value>
	</attribute>
	<attribute>
		<name>max-inbound-per-session-burst-rate</name>
		<value>30</value>
	</attribute>
	<attribute>
		<name>burst-rate-window-per-session</name>
		<value>1</value>
	</attribute>
	<attribute>
		<name>dos-action-at-session</name>
		<value>none</value>
	</attribute>
	<attribute>
		<name>invalid-signal-threshold</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>maximum-signal-threshold</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>untrusted-signal-threshold</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>nat-trust-threshold</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>max-endpoints-per-nat</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>nat-invalid-message-threshold</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>wait-time-for-invalid-register</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>deny-period</name>
		<value>30</value>
	</attribute>
	<attribute>
		<name>session-max-life-limit</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>cac-failure-threshold</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>untrust-cac-failure-threshold</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>ext-policy-svr</name>
		<value/>
	</attribute>
	<attribute>
		<name>diam-e2-address-realm</name>
		<value/>
	</attribute>
	<attribute>
		<name>subscription-id-type</name>
		<value>END_USER_NONE</value>
	</attribute>
	<attribute>
		<name>symmetric-latching</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>pai-strip</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>trunk-context</name>
		<value/>
	</attribute>
	<attribute>
		<name>device-id</name>
		<value/>
	</attribute>
	<attribute>
		<name>early-media-allow</name>
		<value/>
	</attribute>
	<attribute>
		<name>enforcement-profile</name>
		<value/>
	</attribute>
	<attribute>
		<name>additional-prefixes</name>
		<value/>
	</attribute>
	<attribute>
		<name>restricted-latching</name>
		<value>none</value>
	</attribute>
	<attribute>
		<name>restriction-mask</name>
		<value>32</value>
	</attribute>
	<attribute>
		<name>user-cac-mode</name>
		<value>none</value>
	</attribute>
	<attribute>
		<name>user-cac-bandwidth</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>user-cac-sessions</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>icmp-detect-multiplier</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>icmp-advertisement-interval</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>icmp-target-ip</name>
		<value/>
	</attribute>
	<attribute>
		<name>monthly-minutes</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>options</name>
		<value/>
	</attribute>
	<attribute>
		<name>spl-options</name>
		<value/>
	</attribute>
	<attribute>
		<name>accounting-enable</name>
		<value>enabled</value>
	</attribute>
	<attribute>
		<name>net-management-control</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>delay-media-update</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>refer-call-transfer</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>hold-refer-reinvite</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>refer-notify-provisional</name>
		<value>none</value>
	</attribute>
	<attribute>
		<name>dyn-refer-term</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>codec-policy</name>
		<value>{{param["codec_policy"]}}</value>
	</attribute>
	<attribute>
		<name>codec-manip-in-realm</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>codec-manip-in-network</name>
		<value>enabled</value>
	</attribute>
	<attribute>
		<name>rtcp-policy</name>
		<value/>
	</attribute>
	<attribute>
		<name>constraint-name</name>
		<value/>
	</attribute>
	<attribute>
		<name>session-recording-server</name>
		<value/>
	</attribute>
	<attribute>
		<name>session-recording-required</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>manipulation-string</name>
		<value/>
	</attribute>
	<attribute>
		<name>manipulation-pattern</name>
		<value/>
	</attribute>
	<attribute>
		<name>stun-enable</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>stun-server-ip</name>
		<value>0.0.0.0</value>
	</attribute>
	<attribute>
		<name>stun-server-port</name>
		<value>3478</value>
	</attribute>
	<attribute>
		<name>stun-changed-ip</name>
		<value>0.0.0.0</value>
	</attribute>
	<attribute>
		<name>stun-changed-port</name>
		<value>3479</value>
	</attribute>
	<attribute>
		<name>sip-profile</name>
		<value/>
	</attribute>
	<attribute>
		<name>flow-time-limit</name>
		<value>-1</value>
	</attribute>
	<attribute>
		<name>initial-guard-timer</name>
		<value>-1</value>
	</attribute>
	<attribute>
		<name>subsq-guard-timer</name>
		<value>-1</value>
	</attribute>
	<attribute>
		<name>tcp-flow-time-limit</name>
		<value>-1</value>
	</attribute>
	<attribute>
		<name>tcp-initial-guard-timer</name>
		<value>-1</value>
	</attribute>
	<attribute>
		<name>tcp-subsq-guard-timer</name>
		<value>-1</value>
	</attribute>
	<attribute>
		<name>sip-isup-profile</name>
		<value/>
	</attribute>
	<attribute>
		<name>match-media-profiles</name>
		<value/>
	</attribute>
	<attribute>
		<name>qos-constraint</name>
		<value/>
	</attribute>
	<attribute>
		<name>block-rtcp</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>hide-egress-media-update</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>tcp-media-profile</name>
		<value/>
	</attribute>
	<attribute>
		<name>monitoring-filters</name>
		<value/>
	</attribute>
	<attribute>
		<name>node-functionality</name>
		<value/>
	</attribute>
	<attribute>
		<name>default-location-string</name>
		<value/>
	</attribute>
	<attribute>
		<name>alt-family-realm</name>
		<value/>
	</attribute>
	<attribute>
		<name>pref-addr-type</name>
		<value>none</value>
	</attribute>
	<attribute>
		<name>sm-icsi-match-for-invite</name>
		<value/>
	</attribute>
	<attribute>
		<name>sm-icsi-match-for-message</name>
		<value/>
	</attribute>
	<attribute>
		<name>merge-early-dialogs</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>user-site</name>
		<value/>
	</attribute>
	<attribute>
		<name>srvcc-trfo</name>
		<value/>
	</attribute>
	<attribute>
		<name>feature-trfo</name>
		<value/>
	</attribute>
	<attribute>
		<name>fqdn-hostname</name>
		<value/>
	</attribute>
	<attribute>
		<name>fqdn-hostname-in-header</name>
		<value/>
	</attribute>
	<attribute>
		<name>P-Asserted-Identity</name>
		<value/>
	</attribute>
	<attribute>
		<name>P-Asserted-Identity-For</name>
		<value/>
	</attribute>
	<attribute>
		<name>nsep-stats</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>steering-pool-threshold</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>steering-pool-lower-threshold</name>
		<value>70</value>
	</attribute>
	<attribute>
		<name>steering-pool-alarm-monitoring-time</name>
		<value>15</value>
	</attribute>
	<attribute>
		<name>suppress-hold-resume-reinvite</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>snmp-sipmethod-stats</name>
		<value>disabled</value>
	</attribute>
</configElement>
