<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configElement>
	<elementType>session-agent</elementType>
	<attribute>
		<name>hostname</name>
		<value>{{param["hostname"]}}</value>
	</attribute>
	<attribute>
		<name>ip-address</name>
		<value>{{param["ip_address"]}}</value>
	</attribute>
	<attribute>
		<name>port</name>
		<value>{{param["port"]}}</value>
	</attribute>
	<attribute>
		<name>state</name>
		<value>{{param["state"]}}</value>
	</attribute>
	<attribute>
		<name>app-protocol</name>
		<value>{{param["app_protocol"]}}</value>
	</attribute>
	<attribute>
		<name>app-type</name>
		<value/>
	</attribute>
	<attribute>
		<name>transport-method</name>
		<value>{{param["transport_method"]}}</value>
	</attribute>
	<attribute>
		<name>realm-id</name>
		<value>{{param["realm_id"]}}</value>
	</attribute>
	<attribute>
		<name>egress-realm-id</name>
		<value/>
	</attribute>
	<attribute>
		<name>description</name>
		<value>{{param["description"]}}</value>
	</attribute>
	<attribute>
		<name>carriers</name>
		<value/>
	</attribute>
	<attribute>
		<name>allow-next-hop-lp</name>
		<value>enabled</value>
	</attribute>
	<attribute>
		<name>associated-agents</name>
		<value/>
	</attribute>
	<attribute>
		<name>constraints</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>max-sessions</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>max-inbound-sessions</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>max-outbound-sessions</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>max-burst-rate</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>max-inbound-burst-rate</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>max-outbound-burst-rate</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>max-sustain-rate</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>max-inbound-sustain-rate</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>max-outbound-sustain-rate</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>min-seizures</name>
		<value>5</value>
	</attribute>
	<attribute>
		<name>min-asr</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>cac-trap-threshold</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>session-max-life-limit</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>time-to-resume</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>ttr-no-response</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>in-service-period</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>burst-rate-window</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>sustain-rate-window</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>max-inbound-per-session-burst-rate</name>
		<value>30</value>
	</attribute>
	<attribute>
		<name>burst-rate-window-per-session</name>
		<value>1</value>
	</attribute>
	<attribute>
		<name>dos-action-at-session</name>
		<value>inherit</value>
	</attribute>
	<attribute>
		<name>req-uri-carrier-mode</name>
		<value>None</value>
	</attribute>
	<attribute>
		<name>proxy-mode</name>
		<value/>
	</attribute>
	<attribute>
		<name>redirect-action</name>
		<value/>
	</attribute>
	<attribute>
		<name>loose-routing</name>
		<value>enabled</value>
	</attribute>
	<attribute>
		<name>send-media-session</name>
		<value>enabled</value>
	</attribute>
	<attribute>
		<name>response-map</name>
		<value/>
	</attribute>
	<attribute>
		<name>ping-method</name>
		<value>{{param["ping_method"]}}</value>
	</attribute>
	<attribute>
		<name>ping-interval</name>
		<value>{{param["ping_interval"]}}</value>
	</attribute>
	<attribute>
		<name>ping-send-mode</name>
		<value>keep-alive</value>
	</attribute>
	<attribute>
		<name>ping-all-addresses</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>ping-in-service-response-codes</name>
		<value/>
	</attribute>
	<attribute>
		<name>out-service-response-codes</name>
		<value/>
	</attribute>
	<attribute>
		<name>load-balance-dns-query</name>
		<value>hunt</value>
	</attribute>
	<attribute>
		<name>options</name>
		<value/>
	</attribute>
	<attribute>
		<name>spl-options</name>
		<value/>
	</attribute>
	<attribute>
		<name>media-profiles</name>
		<value/>
	</attribute>
	<attribute>
		<name>trust-me</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>request-uri-headers</name>
		<value/>
	</attribute>
	<attribute>
		<name>stop-recurse</name>
		<value/>
	</attribute>
	<attribute>
		<name>local-response-map</name>
		<value/>
	</attribute>
	<attribute>
		<name>ping-to-user-part</name>
		<value/>
	</attribute>
	<attribute>
		<name>ping-from-user-part</name>
		<value/>
	</attribute>
	<attribute>
		<name>ping-response</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>in-manipulationid</name>
		<value/>
	</attribute>
	<attribute>
		<name>out-manipulationid</name>
		<value/>
	</attribute>
	<attribute>
		<name>manipulation-string</name>
		<value/>
	</attribute>
	<attribute>
		<name>manipulation-pattern</name>
		<value/>
	</attribute>
	<attribute>
		<name>p-asserted-id</name>
		<value/>
	</attribute>
	<attribute>
		<name>trunk-group</name>
		<value/>
	</attribute>
	<attribute>
		<name>max-register-sustain-rate</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>early-media-allow</name>
		<value/>
	</attribute>
	<attribute>
		<name>invalidate-registrations</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>rfc2833-mode</name>
		<value>none</value>
	</attribute>
	<attribute>
		<name>rfc2833-payload</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>codec-policy</name>
		<value/>
	</attribute>
	<attribute>
		<name>enforcement-profile</name>
		<value/>
	</attribute>
	<attribute>
		<name>emergency-dscp-profile</name>
		<value/>
	</attribute>
	<attribute>
		<name>refer-call-transfer</name>
		<value>{{param["refer_call_transfer"]}}</value>
	</attribute>
	<attribute>
		<name>refer-notify-provisional</name>
		<value>none</value>
	</attribute>
	<attribute>
		<name>reuse-connections</name>
		<value>NONE</value>
	</attribute>
	<attribute>
		<name>tcp-keepalive</name>
		<value>none</value>
	</attribute>
	<attribute>
		<name>tcp-reconn-interval</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>max-register-burst-rate</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>register-burst-window</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>sip-profile</name>
		<value/>
	</attribute>
	<attribute>
		<name>sip-isup-profile</name>
		<value/>
	</attribute>
	<attribute>
		<name>kpml-interworking</name>
		<value>inherit</value>
	</attribute>
	<attribute>
		<name>kpml2833-iwf-on-hairpin</name>
		<value>inherit</value>
	</attribute>
	<attribute>
		<name>precedence</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>monitoring-filters</name>
		<value/>
	</attribute>
	<attribute>
		<name>session-recording-server</name>
		<value/>
	</attribute>
	<attribute>
		<name>session-recording-required</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>hold-refer-reinvite</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>send-tcp-fin</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>sip-recursion-policy</name>
		<value/>
	</attribute>
	<attribute>
		<name>sm-icsi-match-for-invite</name>
		<value/>
	</attribute>
	<attribute>
		<name>sm-icsi-match-for-message</name>
		<value/>
	</attribute>
	<attribute>
		<name>fax-servers</name>
		<value/>
	</attribute>
	<attribute>
		<name>trigger-oos-alarm</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>static-tcp-source-port</name>
		<value>0</value>
	</attribute>
</configElement>
