<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configElement>
	<elementType>sip-config</elementType>
	<attribute>
		<name>state</name>
		<value>{{param["state"]}}</value>
	</attribute>
	<attribute>
		<name>operation-mode</name>
		<value>dialog</value>
	</attribute>
	<attribute>
		<name>dialog-transparency</name>
		<value>enabled</value>
	</attribute>
	<attribute>
		<name>home-realm-id</name>
		<value>{{param["home_realm_id"]}}</value>
	</attribute>
	<attribute>
		<name>egress-realm-id</name>
		<value/>
	</attribute>
	<attribute>
		<name>auto-realm-id</name>
		<value/>
	</attribute>
	<attribute>
		<name>nat-mode</name>
		<value>None</value>
	</attribute>
	<attribute>
		<name>registrar-domain</name>
		<value/>
	</attribute>
	<attribute>
		<name>registrar-host</name>
		<value/>
	</attribute>
	<attribute>
		<name>registrar-port</name>
		<value>{{param["registrar_port"]}}</value>
	</attribute>
	<attribute>
		<name>register-service-route</name>
		<value>always</value>
	</attribute>
	<attribute>
		<name>init-timer</name>
		<value>500</value>
	</attribute>
	<attribute>
		<name>max-timer</name>
		<value>4000</value>
	</attribute>
	<attribute>
		<name>trans-expire</name>
		<value>32</value>
	</attribute>
	<attribute>
		<name>initial-inv-trans-expire</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>invite-expire</name>
		<value>180</value>
	</attribute>
	<attribute>
		<name>session-max-life-limit</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>inactive-dynamic-conn</name>
		<value>32</value>
	</attribute>
	<attribute>
		<name>enforcement-profile</name>
		<value/>
	</attribute>
	<attribute>
		<name>emergency-dscp-profile</name>
		<value/>
	</attribute>
	<attribute>
		<name>pac-method</name>
		<value/>
	</attribute>
	<attribute>
		<name>pac-interval</name>
		<value>10</value>
	</attribute>
	<attribute>
		<name>pac-strategy</name>
		<value>PropDist</value>
	</attribute>
	<attribute>
		<name>pac-load-weight</name>
		<value>1</value>
	</attribute>
	<attribute>
		<name>pac-session-weight</name>
		<value>1</value>
	</attribute>
	<attribute>
		<name>pac-route-weight</name>
		<value>1</value>
	</attribute>
	<attribute>
		<name>pac-callid-lifetime</name>
		<value>600</value>
	</attribute>
	<attribute>
		<name>pac-user-lifetime</name>
		<value>3600</value>
	</attribute>
	<attribute>
		<name>red-sip-port</name>
		<value>1988</value>
	</attribute>
	<attribute>
		<name>red-max-trans</name>
		<value>10000</value>
	</attribute>
	<attribute>
		<name>red-sync-start-time</name>
		<value>5000</value>
	</attribute>
	<attribute>
		<name>red-sync-comp-time</name>
		<value>1000</value>
	</attribute>
	<attribute>
		<name>options</name>
		<value/>
	</attribute>
	<attribute>
		<name>spl-options</name>
		<value/>
	</attribute>
	<attribute>
		<name>add-reason-header</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>sip-message-len</name>
		<value>4096</value>
	</attribute>
	<attribute>
		<name>enum-sag-match</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>extra-method-stats</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>extra-enum-stats</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>mps-volte</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>rph-feature</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>nsep-user-sessions-rate</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>nsep-sa-sessions-rate</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>registration-cache-limit</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>register-use-to-for-lp</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>refer-src-routing</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>add-ucid-header</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>proxy-sub-events</name>
		<value/>
	</attribute>
	<attribute>
		<name>allow-pani-for-trusted-only</name>
		<value>inherit</value>
	</attribute>
	<attribute>
		<name>atcf-stn-sr</name>
		<value/>
	</attribute>
	<attribute>
		<name>atcf-psi-dn</name>
		<value/>
	</attribute>
	<attribute>
		<name>atcf-route-to-sccas</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>eatf-stn-sr</name>
		<value/>
	</attribute>
	<attribute>
		<name>pass-gruu-contact</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>sag-lookup-on-redirect</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>set-disconnect-time-on-bye</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>refer-reinvite-no-sdp</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>msrp-delayed-bye-timer</name>
		<value>15</value>
	</attribute>
	<attribute>
		<name>transcoding-realm</name>
		<value/>
	</attribute>
	<attribute>
		<name>transcoding-agents</name>
		<value/>
	</attribute>
	<attribute>
		<name>create-dynamic-sa</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>node-functionality</name>
		<value>P-CSCF</value>
	</attribute>
	<attribute>
		<name>match-sip-instance</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>sa-routes-stats</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>sa-routes-traps</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>rx-sip-reason-mapping</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>add-ue-location-in-pani</name>
		<value>inherit</value>
	</attribute>
	<attribute>
		<name>hold-emergency-calls-for-loc-info</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>retry-after-upon-offline</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>reg-reject-response-upon-offline</name>
		<value>503</value>
	</attribute>
	<attribute>
		<name>hold-invite-calls-for-loc-info</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>cache-loc-info-expire</name>
		<value>32</value>
	</attribute>
	<attribute>
		<name>msg-hold-for-loc-info</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>npli-upon-register</name>
		<value>inherit</value>
	</attribute>
	<attribute>
		<name>start-hold-timer-event</name>
		<value>AAR</value>
	</attribute>
	<attribute>
		<name>hist-to-div-for-cause-380</name>
		<value>inherit</value>
	</attribute>
	<attribute>
		<name>anonymize-history-for-untrusted</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>asymm-preconditions-evs-swb-support</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>sms-report-timeout</name>
		<value>32</value>
	</attribute>
	<attribute>
		<name>user-agent</name>
		<value/>
	</attribute>
	<attribute>
		<name>precondition-enhancement</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>precondition-med-enhancement</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>internal-503-threshold</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>internal-503-lower-threshold</name>
		<value>40</value>
	</attribute>
	<attribute>
		<name>503-alarm-monitoring-time</name>
		<value>15</value>
	</attribute>
</configElement>
