<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configElement>
	<elementType>sip-interface</elementType>
	<attribute>
		<name>state</name>
		<value>{{param["state"]}}</value>
	</attribute>
	<attribute>
		<name>realm-id</name>
		<value>{{param["realm_id"]}}</value>
	</attribute>
	<attribute>
		<name>description</name>
		<value>{{param["description"]}}</value>
	</attribute>
	{% for sip_port in param.sip_ports %}
	<subElement>
		<subElementType>sip-port</subElementType>
		<attribute>
			<name>address</name>
			<value>{{ sip_port["address"] }}</value>
		</attribute>
		<attribute>
			<name>port</name>
			<value>{{ sip_port["port"] }}</value>
		</attribute>
		<attribute>
			<name>transport-protocol</name>
			<value>{{ sip_port["transport_protocol"] }}</value>
		</attribute>
		<attribute>
			<name>allow-anonymous</name>
			<value>{{ sip_port["allow_anonymous"] }}</value>
		</attribute>	
	</subElement>
	{% endfor %}
	<attribute>
		<name>carriers</name>
		<value/>
	</attribute>
	<attribute>
		<name>trans-expire</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>initial-inv-trans-expire</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>invite-expire</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>session-max-life-limit</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>max-redirect-contacts</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>proxy-mode</name>
		<value/>
	</attribute>
	<attribute>
		<name>redirect-action</name>
		<value/>
	</attribute>
	<attribute>
		<name>contact-mode</name>
		<value>none</value>
	</attribute>
	<attribute>
		<name>nat-traversal</name>
		<value>none</value>
	</attribute>
	<attribute>
		<name>nat-interval</name>
		<value>30</value>
	</attribute>
	<attribute>
		<name>tcp-nat-interval</name>
		<value>90</value>
	</attribute>
	<attribute>
		<name>registration-caching</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>min-reg-expire</name>
		<value>300</value>
	</attribute>
	<attribute>
		<name>registration-interval</name>
		<value>3600</value>
	</attribute>
	<attribute>
		<name>route-to-registrar</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>secured-network</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>teluri-scheme</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>uri-fqdn-domain</name>
		<value/>
	</attribute>
	<attribute>
		<name>options</name>
		<value/>
	</attribute>
	<attribute>
		<name>spl-options</name>
		<value/>
	</attribute>
	<attribute>
		<name>trust-mode</name>
		<value>all</value>
	</attribute>
	<attribute>
		<name>max-nat-interval</name>
		<value>3600</value>
	</attribute>
	<attribute>
		<name>nat-int-increment</name>
		<value>10</value>
	</attribute>
	<attribute>
		<name>nat-test-increment</name>
		<value>30</value>
	</attribute>
	<attribute>
		<name>sip-dynamic-hnt</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>tcp-max-nat-interval</name>
		<value>3600</value>
	</attribute>
	<attribute>
		<name>tcp-nat-int-increment</name>
		<value>10</value>
	</attribute>
	<attribute>
		<name>tcp-nat-test-increment</name>
		<value>30</value>
	</attribute>
	<attribute>
		<name>tcp-sip-dynamic-hnt</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>stop-recurse</name>
		<value>401,407</value>
	</attribute>
	<attribute>
		<name>port-map-start</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>port-map-end</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>in-manipulationid</name>
		<value/>
	</attribute>
	<attribute>
		<name>out-manipulationid</name>
		<value/>
	</attribute>
	<attribute>
		<name>sip-ims-feature</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>sip-atcf-feature</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>subscribe-reg-event</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>operator-identifier</name>
		<value/>
	</attribute>
	<attribute>
		<name>anonymous-priority</name>
		<value>none</value>
	</attribute>
	<attribute>
		<name>max-incoming-conns</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>per-src-ip-max-incoming-conns</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>inactive-conn-timeout</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>untrusted-conn-timeout</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>network-id</name>
		<value/>
	</attribute>
	<attribute>
		<name>ext-policy-server</name>
		<value/>
	</attribute>
	<attribute>
		<name>ldap-policy-server</name>
		<value/>
	</attribute>
	<attribute>
		<name>default-location-string</name>
		<value/>
	</attribute>
	<attribute>
		<name>term-tgrp-mode</name>
		<value>none</value>
	</attribute>
	<attribute>
		<name>charging-vector-mode</name>
		<value>pass</value>
	</attribute>
	<attribute>
		<name>charging-function-address-mode</name>
		<value>pass</value>
	</attribute>
	<attribute>
		<name>ccf-address</name>
		<value/>
	</attribute>
	<attribute>
		<name>ecf-address</name>
		<value/>
	</attribute>
	<attribute>
		<name>implicit-service-route</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>rfc2833-payload</name>
		<value>101</value>
	</attribute>
	<attribute>
		<name>rfc2833-mode</name>
		<value>transparent</value>
	</attribute>
	<attribute>
		<name>constraint-name</name>
		<value/>
	</attribute>
	<attribute>
		<name>response-map</name>
		<value/>
	</attribute>
	<attribute>
		<name>local-response-map</name>
		<value/>
	</attribute>
	<attribute>
		<name>sec-agree-feature</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>sec-agree-pref</name>
		<value>ipsec3gpp</value>
	</attribute>
	<attribute>
		<name>enforcement-profile</name>
		<value/>
	</attribute>
	<attribute>
		<name>emergency-dscp-profile</name>
		<value/>
	</attribute>
	<attribute>
		<name>route-unauthorized-calls</name>
		<value/>
	</attribute>
	<attribute>
		<name>tcp-keepalive</name>
		<value>none</value>
	</attribute>
	<attribute>
		<name>add-sdp-invite</name>
		<value>{{param["add_sdp_invite"]}}</value>
	</attribute>
	<attribute>
		<name>add-sdp-in-msg</name>
		<value/>
	</attribute>
	<attribute>
		<name>p-early-media-header</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>p-early-media-direction</name>
		<value/>
	</attribute>
	<attribute>
		<name>add-sdp-profiles</name>
		<value>{{param["add_sdp_profiles"]}}</value>
	</attribute>
	<attribute>
		<name>add-sdp-profiles-in-msg</name>
		<value/>
	</attribute>
	<attribute>
		<name>manipulation-string</name>
		<value/>
	</attribute>
	<attribute>
		<name>manipulation-pattern</name>
		<value/>
	</attribute>
	<attribute>
		<name>sip-profile</name>
		<value/>
	</attribute>
	<attribute>
		<name>sip-isup-profile</name>
		<value/>
	</attribute>
	<attribute>
		<name>tcp-conn-dereg</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>tunnel-name</name>
		<value/>
	</attribute>
	<attribute>
		<name>register-keep-alive</name>
		<value>none</value>
	</attribute>
	<attribute>
		<name>kpml-interworking</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>kpml2833-iwf-on-hairpin</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>msrp-delay-egress-bye</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>send-380-response</name>
		<value/>
	</attribute>
	<attribute>
		<name>pcscf-restoration</name>
		<value/>
	</attribute>
	<attribute>
		<name>session-timer-profile</name>
		<value/>
	</attribute>
	<attribute>
		<name>session-recording-server</name>
		<value/>
	</attribute>
	<attribute>
		<name>session-recording-required</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>service-tag</name>
		<value/>
	</attribute>
	<attribute>
		<name>reg-cache-route</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>diversion-info-mapping-mode</name>
		<value>none</value>
	</attribute>
	<attribute>
		<name>atcf-icsi-match</name>
		<value/>
	</attribute>
	<attribute>
		<name>sip-recursion-policy</name>
		<value/>
	</attribute>
	<attribute>
		<name>asymmetric-preconditions</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>asymmetric-preconditions-mode</name>
		<value>send-with-nodelay</value>
	</attribute>
	<attribute>
		<name>sm-icsi-match-for-invite</name>
		<value/>
	</attribute>
	<attribute>
		<name>sm-icsi-match-for-message</name>
		<value/>
	</attribute>
	<attribute>
		<name>s8hr-profile</name>
		<value/>
	</attribute>
	<attribute>
		<name>fax-continue-session</name>
		<value>none</value>
	</attribute>
	<attribute>
		<name>npli-profile</name>
		<value/>
	</attribute>
	<attribute>
		<name>hist-to-div-for-cause-380</name>
		<value>inherit</value>
	</attribute>
	<attribute>
		<name>user-agent</name>
		<value/>
	</attribute>
	<attribute>
		<name>allow-diff2833-clock-rate-mode</name>
		<value>disabled</value>
	</attribute>
</configElement>
