<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configElement>
	<elementType>steering-pool</elementType>
	<attribute>
		<name>ip-address</name>
		<value>{{param["ip_address"]}}</value>
	</attribute>
	<attribute>
		<name>start-port</name>
		<value>{{param["start_port"]}}</value>
	</attribute>
	<attribute>
		<name>end-port</name>
		<value>{{param["end_port"]}}</value>
	</attribute>
	<attribute>
		<name>realm-id</name>
		<value>{{param["realm_id"]}}</value>
	</attribute>
	<attribute>
		<name>network-interface</name>
		<value>{{param["network_interface"]}}</value>
	</attribute>
	<attribute>
		<name>port-allocation-strategy</name>
		<value>mixed</value>
	</attribute>
</configElement>
