<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configElement>
	<elementType>system-config</elementType>
	<attribute>
		<name>hostname</name>
		<value>{{param["hostname"]}}</value>
	</attribute>
	<attribute>
		<name>description</name>
		<value>{{param["description"]}}</value>
	</attribute>
	<attribute>
		<name>location</name>
		<value>{{param["location"]}}</value>
	</attribute>
	<attribute>
		<name>mib-system-contact</name>
		<value/>
	</attribute>
	<attribute>
		<name>mib-system-name</name>
		<value/>
	</attribute>
	<attribute>
		<name>mib-system-location</name>
		<value/>
	</attribute>
	<attribute>
		<name>acp-tls-profile</name>
		<value/>
	</attribute>
	<attribute>
		<name>disable-garp-out-of-subnet</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>snmp-enabled</name>
		<value>{{param["snmp_enabled"]}}</value>
	</attribute>
	<attribute>
		<name>enable-snmp-auth-traps</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>enable-snmp-syslog-notify</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>enable-snmp-monitor-traps</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>enable-snmp-tls-srtp-traps</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>enable-env-monitor-traps</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>enable-mblk_tracking</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>enable-l2-miss-report</name>
		<value>enabled</value>
	</attribute>
	<attribute>
		<name>snmp-syslog-his-table-length</name>
		<value>1</value>
	</attribute>
	<attribute>
		<name>snmp-syslog-level</name>
		<value>WARNING</value>
	</attribute>
	<attribute>
		<name>system-log-level</name>
		<value>WARNING</value>
	</attribute>
	<attribute>
		<name>process-log-level</name>
		<value>NOTICE</value>
	</attribute>
	<attribute>
		<name>process-log-ip-address</name>
		<value>0.0.0.0</value>
	</attribute>
	<attribute>
		<name>process-log-port</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>call-trace</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>internal-trace</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>log-filter</name>
		<value>all</value>
	</attribute>
	<attribute>
		<name>default-gateway</name>
		<value>{{param["default_gateway"]}}</value>
	</attribute>
	<attribute>
		<name>restart</name>
		<value>enabled</value>
	</attribute>
	<attribute>
		<name>exceptions</name>
		<value/>
	</attribute>
	<attribute>
		<name>telnet-timeout</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>console-timeout</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>http-timeout</name>
		<value>5</value>
	</attribute>
	<attribute>
		<name>reserved-nsep-session-capacity</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>remote-control</name>
		<value>enabled</value>
	</attribute>
	<attribute>
		<name>cli-audit-trail</name>
		<value>enabled</value>
	</attribute>
	<attribute>
		<name>source-routing</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>cli-more</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>terminal-height</name>
		<value>24</value>
	</attribute>
	<attribute>
		<name>debug-timeout</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>trap-event-lifetime</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>ids-syslog-facility</name>
		<value>-1</value>
	</attribute>
	<attribute>
		<name>ecc-chk-pkt</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>log-tls-key</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>pko-rake-pkt</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>pko-rake-burst</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>options</name>
		<value/>
	</attribute>
	<attribute>
		<name>default-v6-gateway</name>
		<value>::</value>
	</attribute>
	<attribute>
		<name>ipv6-signaling-mtu</name>
		<value>1500</value>
	</attribute>
	<attribute>
		<name>ipv4-signaling-mtu</name>
		<value>1500</value>
	</attribute>
	<attribute>
		<name>cleanup-time-of-day</name>
		<value>00:00</value>
	</attribute>
	<attribute>
		<name>snmp-engine-id-suffix</name>
		<value/>
	</attribute>
	<attribute>
		<name>snmp-agent-mode</name>
		<value>v3</value>
	</attribute>
	<attribute>
		<name>snmp-rate-limit</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>forwarding-cores</name>
		<value>1</value>
	</attribute>
	<attribute>
		<name>dos-cores</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>transcoding-cores</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>use-sibling-core-datapath</name>
		<value>disabled</value>
	</attribute>
	<attribute>
		<name>httpclient-max-total-conn</name>
		<value>500</value>
	</attribute>
	<attribute>
		<name>httpclient-max-cpu-load</name>
		<value>70</value>
	</attribute>
	<attribute>
		<name>httpclient-cache-size-multiplier</name>
		<value>16</value>
	</attribute>
	<attribute>
		<name>http-clearDead-conn-timer</name>
		<value>0</value>
	</attribute>
	<attribute>
		<name>resource-monitoring</name>
		<value>disabled</value>
	</attribute>
</configElement>
